<div id="text-box">
    <p>Welcome to Digital Digest!</p>
    <br>
    Here you can get game reviews of all types in just a few seconds! By using the search bar above, you can get critic reviews 
    from IGN, Gamespot, and Metacritic along with personal reviews from other users. Unlike other websites, our user reviews are
    organized by user's general interest level in games: Hardcore gamers, Hobbyist gamers, and Kids gamers. This allows you to see
    what people with a similar level of interest thought about the game, providing you with a much more personalized review!
    <br>
    <br>
    <p>You can start searching right away by using the search bar above, or you can join our community and start making reviews by
    clicking "Register."</p>
    <br>
    <p>Already a member? Click "Login" to open your account and start searching and reviewing!</p>
</div>