<form onSubmit="return register()">
    <fieldset  class="forms">
        <p>To create an account, fill in all of the forms below.</p>
        <p>Your username and password must be at least 8 characters long.</p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text"/>
        </div>
        <br>
        
        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="Password" type="password"/>
        </div>
        <br>
        
        <div class="form-group">
            <input class="form-control" name="confirmation" id="passverify" placeholder="Confirm Password" type="password"/>
        </div>
        <br>
        
        <div class="form-group">
            <button class="btn btn-default">
                <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span>
                Register
            </button>
        </div>
    </fieldset>
</form>
